.primary-button {
    Width: 160px;
    height: 58px;
    border: none;
    border-radius: 6px;
    background-color: #fbc02d;
    color: #111;
    font-size: 28px;
    font-weight: 500;
    cursor: pointer;
    transition: 180ms ease;
}

.primary-button:hover {
    transform: translateY(-1px);
    filter: brightness(1.03);
    box-shadow: 0 12px 24px rgba(251, 192, 45, 0.3);
}