.trail-card {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;

  box-shadow: 0 2px 10px rgba(0,0,0,0.08);

  display: flex;
  flex-direction: column;

  width: 100%;
}

.trail-card__image {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.trail-card__content {
  padding: 20px;
  padding-bottom: 30px;
}

.trail-card__title {
  text-align: center;
  margin-bottom: 16px;

  font-size: 1.5rem;
  font-weight: 600;
}

.trail-card__description {
  color: var(--cr-text-primary);
  line-height: 1.5;

  min-height: 100px;
}

.trail-card__divider {
  border-top: 1px solid #d8d8d8;
  margin: 16px 0;
}

.trail-card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trail-card__progress {
  font-size: 0.75rem;
  color: var(--cr-purple-900);
}

.trail-card__explore {
  border: none;
  background: transparent;

  color: var(--cr-purple-900);

  font-size: 1.4rem;
  font-weight: 500;

  cursor: pointer;
}