.available-tracks {
  padding: 40px 50px;
}

.available-tracks__grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(480px, 466px));
  justify-content: center;
  gap: 60px;
}

.available-tracks__title {
  font-size: 24px;
  font-weight: 700;
  color: var(--cr-purple-900);

  margin-bottom: 66px;
  
}